<#@ template hostspecific="true" language="C#" #>
<#@
 output extension=".cs" #><#

    var efHost = (EfTextTemplateHost)Host;
    var code = new CodeGenerationTools(this);
#>
using <#= code.EscapeNamespace(efHost.RepositoryBaseNamespace) #>;
using <#= code.EscapeNamespace(efHost.ModelsNamespace) #>;

namespace <#= code.EscapeNamespace(efHost.Namespace) #>
{
    public class <#= efHost.EntityName #>Repository : RepositoryBase<<#= efHost.EntityName #>>
    {
    }
}
